header {
  background-image: url(https://cdn.codechef.com/download/Contest+images/ANTEST/landing+page.jpg);
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 80px;
  text-align: center;
  padding-bottom: 150px;
  font-family: "Times New Roman", Times, serif;
}

.quote {
    text-align: right;
    font-size: 60px;
    font-family: cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: white;
    background-color: transparent;
}

.headingpara {
  color: white;
  background-color: transparent;
  padding-top: 30px;
  margin-left: 30%;
  padding-right: 20px;
  text-align: right;
}